<div class="sidebar-logo">
    <img src="{{ url_for('static', filename='images/thepolka.cloud.png') }}" alt="Polkadot Cloud Logo" style="width: 100%;">
</div>

<nav class="sidebar-menu">
    <ul>
        <li><a href="https://thepolka.cloud#welcome">Home</a></li>
        <li><a href="https://projects.html">Projects</a></li>
        <li><a href="https://about.html">About</a></li>
        <li><a href="https://resume-generator.thepolka.cloud#resume">Résumé</a><li>
    </ul>
</nav>

<hr>

<div class="sidebar-contact">
    <p><strong>Contact us Today:</strong></p>
    <a href="mailto:info@thepolka.cloud">info@thepolka.cloud</a>
    <a href="mailto:support@thepolka.cloud">support@thepolka.cloud</a>
    <a href="mailto:sales@thepolka.cloud">sales@thepolka.cloud</a>
</div>
