<aside class="left-banner">

    <div class="left-banner-logo">
        <img
            src="/static/images/polkadot-cloud-logo.png"
            alt="The Polkadot Cloud Logo"
        >
    </div>

    <div class="left-banner-content">

        <h3>The Polkadot Cloud</h3>

        <p>
            Design Systems.
            Resume Tools.
            Social Products.
        </p>

        <div class="left-links">
            <a href="http://thepolka.cloud#home">Home</a>
            <a href="/resume-generator.thepolka.cloud#resume">Résumé Generator</a>
            <a href="/twitter-classic.thepolka.cloud#twitter">Twitter Classic</a>
        </div>

    </div>

</aside>
