<aside class="sidebar">
    <nav class="side-nav" aria-label="Global Navigation">
    <div class="nav-brand">
        <ul>
            <li>
                <a href="https://thepolka.cloud">
            </li>    
                    ThePolka.Cloud™
                </a>
            </div>

            <div class="nav-links">
            <li>
            <a href="https://thepolka.cloud">Home</a>
            </li>
            <li>    
                <a href="http://resume-generator.thepolka.cloud#resume">Résumé Generator</a>
            </li>    
                <a href="http://twitter-classic.thepolka.cloud#twitter">Twitter Classic</a>
                <a href="http://projects.thepolka.cloud#projects">Projects</a>
                <a href="http://about.thepolka.cloud#about">About</a>
            <li>
                <a href="http://contact.thepolka.cloud#contact">Contact</a>
            </li>
        </ul>
    </div>
    </nav>
</aside>
