<nav class="global-nav">
    <div class="nav-brand">
        <a href="https://thepolka.cloud">
            The Polka Cloud™
        </a>
    </div>

    <div class="nav-links">
        <a href="https://thepolka.cloud">Home</a>
        <a href="http://resume-generator.thepolka.cloud#resume">Résumé Generator</a>
        <a href="http://twitter-classic.thepolka.cloud#twitter">Twitter Classic</a>
        <a href="http://projects.thepolka.cloud#projects">Projects</a>
        <a href="http://about.thepolka.cloud#about">About</a>
        <a href="http://contact.thepolka.cloud#contact">Contact</a>
    </div>
</nav>
